* {
  margin: 0px;
}
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1vw;
  background: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}
h2 {
  font-size: clamp(1.4rem, 3.1vw, 3.5vw);
  font-family: "Homemade Apple", "Times New Roman";
  letter-spacing: 0.2rem;
  text-align: center;
}
h3 {
  padding-top: 2vw;
  padding-bottom: 2vw;
  font-size: clamp(1.1rem, 2vw, 2.5vw);
  font-weight: bolder;
  letter-spacing: 0rem;
  font-family: "Cutive Mono", "Times New Roman";
}
p {
  font-family: "Courier New", Courier, monospace;
  font-size: clamp(1rem, 1.25vw, 1.5vw);
  line-height: 1.3rem;
}
nav {
  position: fixed;
  top: 0px;
  width: 100%;
  font-size: clamp(1rem, 0.7vw, 1vw);
}
footer {
  font-size: clamp(1rem, 0.4vw, 0.8vw);
}
nav,
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid whitesmoke;
  box-shadow: 0.1px 0.1px 20px grey;
  background: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  text-align: center;
  min-height: 5vw;
  padding: 1vh;
}
main {
  display: grid;
  grid-template-areas:
    "coding coding"
    "left right";
  grid-template-rows: 1fr 2.5fr;
  grid-template-columns: 40vw 40vw;
  gap: 0vw 10vw;
  justify-content: center;
  align-items: center;
}
.left {
  grid-area: left;
}
.right {
  grid-area: right;
}
.coding {
  grid-area: coding;
  margin-top: 10vw;
}
ul {
  list-style: none;
  padding: 0px;
}
li {
  display: inline;
  font-family: "Courier New", Courier, monospace;
  font-size: 1em;
  letter-spacing: 0.1vw;
  padding: 0vw 8vw;
}
a {
  text-decoration: none;
  color: black;
}
img {
  width: 100%;
  border: 2px solid whitesmoke;
}
@media screen and (max-width: 920px) {
  main {
    display: flex;
    flex-direction: column;
    margin: 7vw;
    font-size: 2vw;
  }
}
